<section class="card mb-4">
  <%- include('./comp-card-roteiro/header', { roteiro, moment }) %>
  <%- include('./comp-card-roteiro/body', { roteiro }) %>
  <%- include('./comp-card-roteiro/footer') %>
</section>
