<footer class="page-footer font-small pt-4 bg-footer px-4">
  <h6 class="text-center">Cadastre-se em nosso newsletter</h4>
  <div id="footer-msgs">
  </div>
  <form class="form-inline my-2 my-lg-0 justify-content-center">
    <input class="form-control mr-sm-2 rounded-pill border-dark" type="email" id="email"
      placeholder="Email" aria-label="Enviar email">
    <button class="btn rounded-pill btn-padrao my-2 my-sm-0" type="submit">Enviar</button>
  </form>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="/index#main"> Trip Diary</a>
  </div>
</footer>
