<header class="sticky-top header-bg">
  <nav class="navbar navbar-expand-xl navbar-dark p-3 w-75 mx-auto">
    <%- include('./comp-header/icone-botoes') %> 
    <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent" data-role="collapse"
        data-toggle-element="#collapse_toggle_1">
      <%- include('./comp-header/links-nav') %> 
      <%- include('./comp-header/usuario') %> 
    </div>
  </nav>
</header>
