<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Roteiros de viagem social">
<title><%= titulo %> - <%= site.nomeProjeto %> </title>
<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/geral.css">