<header class="sticky-top header-bg">
    <nav class="navbar navbar-expand-lg navbar-dark container-xl p-3">
      <a class="navbar-brand p-0" href="sobre.html">
        <img class="header-icone" src="icones/logo-icone.png" alt="Trip Diary logo">
      </a>
      <button class="navbar-toggler" type="button"  id="collapse_toggle_1"
          data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Botão expandir menu nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" navbar-collapse "  data-role="collapse"
      data-toggle-element="#collapse_toggle_1" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto flex-row flex-wrap justify-content-center p-1 pl-lg-5">
          <li class="nav-item bg-white rounded-lg px-2 m-1">
            <a class="nav-link text-dark" href="perfil.html">Meu Perfil</a>
          </li>
          <li class="nav-item bg-white rounded-lg px-2 m-1">
            <a class="nav-link text-dark" href="cadastro-roteiro.html">Criar Roteiro</a>
          </li>
          <li class="nav-item bg-white rounded-lg px-2 m-1">
            <a class="nav-link text-dark" href="sobre.html">Sobre</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 justify-content-center">
          <input class="form-control mr-sm-2 rounded-pill border-dark" type="search" 
              placeholder="Buscar" aria-label="Buscar">
          <button class="btn rounded-pill btn-padrao my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
  </header>