<header class="sticky-top header-bg">
  <nav class="navbar navbar-expand-xl navbar-dark container-xl p-3">
    <%- include('./comp-header/icone-botoes') %> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%- include('./comp-header/links-nav') %> 
      <%- include('./comp-header/form-buscar') %> 
    </div>
  </nav>
</header>
