<article class="bg-white text-dark text-break rounded-lg p-2 d-flex justify-content-between my-2">
  <a class="my-auto" href="perfil-visualizacao.html">
    <img class="seguidores-icone" src="icones/componentes/usuario/user.svg" alt="Foto Usuário">
  </a>
  <p class="my-auto">Test</p>
  <button class="btn p-0 m-0">
    <img class="seguidores-icone" src="icones/componentes/usuario/deixar-de-seguir.svg" alt="Deixar de seguir Usuário" title="Deixar de Seguir">
  </button>
</article>
