<li class="list-group-item">
  <article class="row">
    <div class="col-xs-2 col-md-1">
      <img src=<%=comentario.usuario.imagem_url  %>  class="img-circle img-fluid  img-responsive" alt="">
    </div>
    <div class="col-xs-10 col-md-11">
      <div>
        <div class="mic-info">
          Por: <a href="/index/perfil/<%=comentario.usuario.id  %>"><%=comentario.usuario.nome  %> </a> 
        </div>
      </div>
      <div class="comment-text">
        <%=comentario.conteudo%>
      </div>
      <div class="action">
        <button type="button" class="btn-xs rounded btn-primary  img-fluid" title="Like">
          <img class ="icones-comentarios" src="icones/gostar.svg">
        </button>
        <button type="button" class=" rounded btn-success btn-xs" title="Responder">
          <img class ="icones-comentarios" src="icones/reply.svg">
        </button>
      </div>
    </div>
  </article>
</li>
