<li class="list-group-item">
  <article class="row">
    <div class="col-xs-2 col-md-1">
      <img src="imagens/homem.jpg" class="img-circle img-fluid  img-responsive" alt="">
    </div>
    <div class="col-xs-10 col-md-11">
      <div>
        <p>
          Roteiro muito top</p>
        <div class="mic-info">
          By: <a href="#">Jose hernadez</a> on 2 Aug 2019
        </div>
      </div>
      <div class="comment-text">
        Eu e minha esposa adoramos este roteiro, obrigado por compartilhar com a gente.
      </div>
      <div class="action">
        <button type="button" class="btn-xs rounded btn-primary  img-fluid" title="Like">
          <img class ="icones-comentarios" src="icones/gostar.svg">
        </button>
        <button type="button" class=" rounded btn-success btn-xs" title="Responder">
          <img class ="icones-comentarios" src="icones/reply.svg">
        </button>
      </div>
    </div>
  </article>
</li>
