<h1 class="my-4">Tour Romântico em Paris</h1>
<div class="row">
  <div class="col-sm-12 col-lg-4 ">
    <label><strong>Estilo do Roteiro</strong></label>
    <p><i class="icon-user icon-white"></i>Romântico</p><i class="icon-search"></i>
  </div>
  <div class="col-sm-12 col-lg-4">
    <label><strong>Data de início da viagem</strong></label>
    <p>00/00/0000</p>
  </div>
  <div class="col-sm-12 col-lg-4">
    <label><strong>Total de Dias</strong></label>
    <p>5</p>
  </div>
</div>