<%if(roteiro.imagens.length > 0){  %> 
<h2 class="text-justify mb-3">Imagens do Roteiro</h2>
          <section class="row mb-5 mx-0">
<% roteiro.imagens.forEach(element=>{ %> 
<article class="col-md-4">
  <div class="thumbnail">
  <a href="/w3images/lights.jpg">
    <img class="rounded img-fluid img-thumbnail" src="/imagens/<%=element.url%> " alt="Lights">
    <div class="caption">
    </div>
  </a>
  </div>
</article>
<% }) %> 
</section>
<% } %> 