<article class="col-md-4">
  <div class="thumbnail">
  <a href="/w3images/lights.jpg">
    <img class="rounded img-fluid img-thumbnail" src="imagens\paris-eiffel.jpg" alt="Lights">
    <div class="caption">
    <p>Lorem ipsum...</p>
    </div>
  </a>
  </div>
</article>
<article class="col-md-4">
  <div class="thumbnail">
  <a href="/w3images/nature.jpg">
    <img class="rounded img-fluid img-thumbnail" src="imagens\moulin-rouge.jpg" alt="Nature">
    <div class="caption">
    <p>Lorem ipsum...</p>
    </div>
  </a>
  </div>
</article>
<article class="col-md-4">
  <div class="thumbnail">
  <a href="/w3images/fjords.jpg">
    <img class="rounded img-fluid img-thumbnail" src="imagens\louvre.jpg" alt="Fjords">
    <div class="caption">
    <p>Lorem ipsum...</p>
    </div>
  </a>
  </div>
</article>
<article class="col-md-4">
  <div class="thumbnail">
    <a href="/w3images/fjords.jpg">
    <img class="rounded img-fluid img-thumbnail" src="imagens\louvre.jpg" alt="Fjords">
    <div class="caption">
      <p>Lorem ipsum...</p>
    </div>
    </a>
  </div>
</article>

<article class="col-md-4">
  <div class="thumbnail">
    <a href="/w3images/fjords.jpg">
    <img class="rounded img-fluid img-thumbnail" src="imagens\opera-garnier.jpg" alt="Fjords">
    <div class="caption">
      <p>Lorem ipsum...</p>
    </div>
    </a>
  </div>
</article>

<article class="col-md-4">
  <div class="thumbnail">
    <a href="/w3images/fjords.jpg">
    <img class="rounded img-fluid img-thumbnail" src="imagens\arco-do-triunfo.jpg" alt="Fjords">
    <div class="caption">
      <p>Lorem ipsum...</p>
    </div>
    </a>
  </div>
</article>
