<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <header class="container mt-5">
      <h1 class="px-md-4 text-center text-lg-left">Cadastre-se</h1>
    </header>
    <main>
      <div class="container d-table vh-75 mb-5">
        <form class="w-100 d-table-cell align-middle" action="/cadastro" method="POST">
          <div class="max-width-340p mx-auto">
            <div class="form-group">
              <input class="form-control rounded-pill border-dark shadow-sm" type="text" 
                      name="nome" id="nome" placeholder="Nome" aria-label="Nome" required>
            </div>
            <div class="form-group">
              <input class="form-control rounded-pill border-dark shadow-sm" type="text" 
                      name="apelido" id="apelido" placeholder="Apelido" aria-label="Apelido" required>
            </div>
            <div class="form-group">
              <input class="form-control rounded-pill border-dark shadow-sm" type="email" 
                      name="email" id="email" placeholder="E-mail" aria-label="Email" required>
            </div>
            <div class="form-group">
              <input class="form-control rounded-pill border-dark shadow-sm" type="password" 
                      name="senha" id="senha" placeholder="Senha" aria-label="Senha" required>
            </div>
            <div class="form-group">
              <input class="form-control rounded-pill border-dark shadow-sm" type="password" 
                      name="confirmaSenha" id="confirma-senha" placeholder="Confirmação de senha" aria-label="Confirmação de senha" required>
            </div>
            <div>
              <button class="btn rounded-pill btn-padrao w-100" type="submit"><strong>Salvar</strong></button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/scripts-body') %>
  </body>

</html>