<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Roteiros de viagem social">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../estilos/geral.css">
    <title>Document</title>
  </head>

  <body>
    <header class="container">
      <h1>Cadastro</h1>
    </header>
    <main>
      <div class="container">
        <form action="" method="POST">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input class="form-control" type="text" name="nome" id="nome">
          </div>
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input class="form-control" type="text" name="usuario" id="usuario">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input class="form-control" type="email" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input class="form-control" type="password" name="senha" id="senha">
          </div>
          <div class="form-group">
            <label for="confirmaSenha">Confirmação de senha</label>
            <input class="form-control" type="password" name="confirmaSenha" id="confirma-senha">
          </div>
          <button type="submit">Salvar</button>
        </form>
      </div>
    </main>
    <script src="../jQuery/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>