<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>

  <body class="bg-gradient">
    <main>
      <section class="d-table vh-100 rounded mx-auto p-3">
        <div class="d-table-cell align-middle">
          <form class="text-center max-width-340p" action="#!" method="POST">
            <img class="mb-5 img-fluid" src="/icones/logo.png" alt="Logo">
            <input class="form-control rounded-pill border-dark mb-4" type="email" id="defaultLoginFormEmail" placeholder="E-mail" aria-label="Email">
            <input class="form-control rounded-pill border-dark mb-4" type="password" id="defaultLoginFormPassword" placeholder="Password" aria-label="Senha">
            <div class="d-flex justify-content-around">
              <div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  <label class="custom-control-label" for="defaultLoginFormRemember">Lembrar-me</label>
                </div>
              </div>
            </div>
            <button class="btn rounded-pill btn-info btn-block my-4 btn-logar" type="submit">Logar</button>
            <p>Não está cadastrado?
              <a href="/cadastro">Registre-se</a>
            </p>
          </form>
        </div>
      </section>
    </main>
    <%- include('./partials/scripts-body') %> 
  </body>

</html>
