<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %> 
  </head>

  <body>
    <main class="vh-100 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1>Ops página não encontrada</h1>
        <a class="btn rounded-pill btn-padrao w-50" href="/index"><strong>Retornar</strong></a>
      </div>
    </main>
  </body>

</html>