<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="container my-5 text-center">
        <h1>Buscar por</h1>
        <section>
          <article>
            <h3>
              <a class="text-dark" href="/index/pesquisa/usuarios">Usuários</a>
            </h3>
          </article>
          <article>
            <h3>
              <a class="text-dark" href="/index/pesquisa/roteiros">Roteiros</a>
            </h3>
          </article>
        </section>
      </div>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts-body') %>
  </body>

</html>
