<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/sobre.css">
  </head>

  <body>
    <%- include('./partials/header') %>
    <main>
      <section class="container my-4 pt-4 pb-2 px-md-5">
        <div class="max-width-720p mx-auto">
          <h2 class="text-uppercase mb-3">
            <strong>Sobre o projeto</strong>
          </h2>
          <article class="rounded rounded-lg mb-5 card">
            <div class="card-header">
              <h3 class="py-2m-0">
                <strong>Trip Diary</strong>
              </h3>
            </div>
            <div class="m-0 p-3">
              <p>&nbsp&nbspEstamos trazendo o Trip Diary com o propósito de deixar as informações sobre roteiros de viagem mais sociais e centralizadas</p>
              <p>desta maneira é possível curtir e comentar sobre roteiros e visualizar quanto seria a média de gastos para cada dia</p>
            </div>
          </article>
          <h2 class="text-uppercase mb-3">
            <strong>Nossa equipe</strong>
          </h2>
          <article class="rounded rounded-lg mb-5 card">
            <div class="card-header">
              <h4 class="py-2 m-0">
                <strong>Membro #</strong>
              </h4>
            </div>
            <p class="m-0 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed quas eligendi voluptatibus placeat perferendis laudantium quisquam, quaerat dolores blanditiis, ipsum animi quos ratione deserunt eaque quis maxime. Fuga, labore!</p>
          </article>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts-body') %>
  </body>

</html>
