<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/sobre.css">
  </head>

  <body>
    <%- include('./partials/header') %>
    <main>
      <section class="container bg-white my-4 pt-4 pb-2 px-md-5">
        <h2 class="text-center text-uppercase mb-3">
          <strong>Sobre o projeto</strong>
        </h2>
        <article class="card-projeto-bg rounded rounded-lg py-3 px-4 mb-5 card-sombra">
          <h3 class="bg-white py-2 text-center m-0">Trip Diary</h3>
          <p class="info-bg m-0 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed quas eligendi voluptatibus placeat perferendis laudantium quisquam, quaerat dolores blanditiis, ipsum animi quos ratione deserunt eaque quis maxime. Fuga, labore!</p>
        </article>
        <h2 class="text-center text-uppercase mb-3">
          <strong>Nossa equipe</strong>
        </h2>
        <article class="card-membro-bg rounded rounded-lg py-3 px-4 mb-3 card-sombra">
          <h3 class="bg-white py-2 text-center m-0">Membro #</h3>
          <p class="info-bg m-0 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed quas eligendi voluptatibus placeat perferendis laudantium quisquam, quaerat dolores blanditiis, ipsum animi quos ratione deserunt eaque quis maxime. Fuga, labore!</p>
        </article>
        <article class="card-membro-bg rounded rounded-lg py-3 px-4 mb-3 card-sombra">
          <h3 class="bg-white py-2 text-center m-0">Membro #</h3>
          <p class="info-bg m-0 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed quas eligendi voluptatibus placeat perferendis laudantium quisquam, quaerat dolores blanditiis, ipsum animi quos ratione deserunt eaque quis maxime. Fuga, labore!</p>
        </article>
        <article class="card-membro-bg rounded rounded-lg py-3 px-4 mb-3 card-sombra">
          <h3 class="bg-white py-2 text-center m-0">Membro #</h3>
          <p class="info-bg m-0 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed quas eligendi voluptatibus placeat perferendis laudantium quisquam, quaerat dolores blanditiis, ipsum animi quos ratione deserunt eaque quis maxime. Fuga, labore!</p>
        </article>
        <article class="card-membro-bg rounded rounded-lg py-3 px-4 mb-3 card-sombra">
          <h3 class="bg-white py-2 text-center m-0">Membro #</h3>
          <p class="info-bg m-0 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed quas eligendi voluptatibus placeat perferendis laudantium quisquam, quaerat dolores blanditiis, ipsum animi quos ratione deserunt eaque quis maxime. Fuga, labore!</p>
        </article>
      </section>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts-body') %>
  </body>

</html>
