<h2 class="text-uppercase text-center my-4">resumo do usuário</h2>
<section class="d-flex justify-content-center" id="roteiros-usuario">
  <div class="bg-white descricao border border-secondary w-75 rounded-lg p-3 mx-auto">
    <p class="m-0"><%= usuarioPagina.resumo %> </p>
  </div>
</section>
