
<section >
  <div class="descricao w-75 rounded-lg p-3 mx-auto">
    <h2 class="m-0 ">Sobre</h2>
  </div>
</section>
<section class="d-flex justify-content-center" id="roteiros-usuario">
  <div class="bg-white descricao  w-75 rounded-lg p-3 mx-auto">
    <p class="m-0"><%= usuarioPagina.resumo %> </p>
  </div>
</section>
