<h2 class="text-uppercase text-center my-4">resumo do usuário</h2>
<section class="d-flex justify-content-center" id="roteiros-usuario">
  <div class="bg-white descricao border border-secondary w-75 rounded-lg p-3 mx-auto">
    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Hic, illo! Aperiam minima voluptas sunt repellat, ad sequi suscipit, 
    cum tempora velit amet hic at excepturi, perferendis ex quaerat nulla eum.</p>
  </div>
</section>
