<h2 class="text-uppercase text-center my-4">resumo do usuário</h2>
<section class="d-flex justify-content-center" id="roteiros-usuario">
  <div class="bg-white descricao border border-secondary w-75 rounded-lg p-3 mx-auto">
    <textarea class="form-control" name="novoResumo" id="novo-resumo" rows="5" aria-label="Editar resumo"><%= usuarioPagina.resumo %></textarea>
  </div>
</section>
