<article class="bg-white rounded-lg shadow-sm mb-3 text-break">
  <div class="d-flex justify-content-between p-2">
    <h3 class="m-0 pt-2 pb-1 mx-2"><a class="text-dark" href="/index/roteiro/<%= roteiro.id %>"><%= roteiro.titulo %></a></h3>
    <form action="/index/deletar-roteiro/<%= roteiro.id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">
        <img class="excluir-icone" src="/icones/componentes/perfil/roteiros/excluir.svg" alt="">
      </button>
    </form>
  </div>
  <div class=" px-2 py-1 rounded-bottom ">
    <p class="m-0">Quantidade de dias: <%= roteiro.qntd_dias %></p>
  </div>
</article>
