<article class="bg-white shadow-sm rounded-lg mb-3 text-break">
  <h3 class="m-0 pt-2 pb-1 mx-2"><a class="text-dark" href="/index/roteiro/<%= roteiro.id%>"><%= roteiro.titulo %> </a></h3>
  <div class=" px-2 py-1 rounded-bottom ">
    <p class="m-0">Quantidade de dias: <%= roteiro.qntd_dias %></p>
  </div>
</article>
