<h2 class="text-center text-uppercase my-4"><%= usuarioPagina.nome %></h2>
<section class="d-flex justify-content-center align-items-center" id="dados-pessoais">
  <img class="img-fluid" src="<%= usuarioPagina.imagem_url %>" alt="Imagem de <%= usuarioPagina.nome %>">
</section>
