<section class="d-flex justify-content-center   align-items-center" id="dados-pessoais">
 
  <img class="img-fluid p-1 tamanho-max-img bg-white rounded-circle" src="<%= usuarioPagina.imagem_url %>" alt="Imagem de <%= usuarioPagina.nome %>">
</section>
<p class="text-center text-uppercase my-4"><%= usuarioPagina.nome %> </p>
