<form class="form-inline my-2 my-lg-0 justify-content-center">
  <input class="form-control mr-sm-2 rounded-pill border-dark" type="search" 
      placeholder="Buscar" aria-label="Buscar">
  <button class="btn rounded-pill btn-padrao my-2 my-sm-0" type="submit">Buscar</button>
</form>
