<a class="navbar-brand p-0" href="home.html">
  <img class="header-icone" src="icones/logo-icone.png" alt="Trip Diary logo">
</a>
<button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Botão expandir menu nav">
  <span class="navbar-toggler-icon"></span>
</button>
