<ul class="navbar-nav flex-row flex-wrap justify-content-center p-1 ">
  <li class="nav-item  rounded-lg px-2 m-1">
    <a class="nav-link text-white" href="/index">Página Inicial</a>
  </li>
  <li class="nav-item  rounded-lg px-2 m-1">
    <a class="nav-link text-white" href="/index/criar-roteiro">Criar Roteiro</a>
  </li>
  <li class="nav-item  rounded-lg px-2 m-1">
    <a class="nav-link text-white" href="/index/sobre">Sobre</a>
  </li>
  <li class="nav-item  rounded-lg px-2 m-1">
    <a class="nav-link text-white" href="/index/pesquisa">Pesquisar</a>
  </li>
</ul>
