<article class="bg-white text-dark text-break rounded-lg d-flex justify-content-between mt-1">
  <a href="/index/perfil/<%= usuario.id %>">
    <img class="seguidores-icone" src="<%= usuario.imagem_url %>" alt="Foto de <%= usuario.nome %>">
  </a>
  <p class="my-auto ml-1"><%= usuario.apelido %></p>
</article>
