@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: #f2f2f2;
}

.btn-padrao {
    color: black;
    background-color: #1fe0ec;
}

.max-width-720p {
    max-width: 720px;
}

.max-width-340p {
    max-width: 340px;
}

.vh-75 {
    height: 75vh;
}
