.roteiro-dias {
    background-color: #267780;
    color: #FFF;
}

.roteiro a{
    color: black;
}

.descricao{
    max-width: 940px;
}

.btn-info{
    background-color: #1FE0EC;
    border-color: #1FE0EC;
    color: #000;
}