@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: #f2f2f2;
}

.btn-padrao {
    color: black;
    background-color: #1fe0ec;
}

.max-width-720p {
    max-width: 720px;
}

.max-width-340p {
    max-width: 340px;
}

.vh-75 {
    height: 75vh;
}

.header-bg {
    background-color: #0097a7;
    color: white;
}

.checkbox-lg {
    height: 1.25rem;
    width: 1.25rem;
}

.card-resumo-roteiro {
    background-color: #267780;
    color: white;
}

.header-icone {
    height: auto;
    width: 4rem;
}

.seguidores-icone {
    height: auto;
    width: 2.5rem;
}

.roteiro-icone {
    height: 1.4rem;
    width: 1.4rem;
}

.badge-primary{
    background-color: #267780;
}

.dynamic-element{
    margin-bottom: 30px;
}

.icones-comentarios{
    width: 1em;
    height: 1em;
}

.bg-footer{
    background-color: #333333;
    color: #f2f2f2;
}

.bg-footer a {
    color: aqua;
}

/* 1200px == --breakpoint-xl */
@media only screen and (max-width: 1200px) {
    .w-75 {
        width: auto !important;
    }
}
