.roteiro-dias {
    background-color: #267780;
    color: #FFF;
}

.descricao{
    max-width: 940px;
}

.tamanho-max-img {
    max-width: 20%;
}

.btn-info{
    background-color: #1FE0EC;
    border-color: #1FE0EC;
    color: #000;
}