.card-projeto-bg {
    background-color: #4dedff;
}

.card-membro-bg {
    background-color: #00b8cc;
}

.info-bg {
    background-color: #ededed;
}

.card-sombra {
    -webkit-box-shadow: 0px 17px 9px -17px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 17px 9px -17px rgba(0,0,0,0.57);
    box-shadow: 0px 17px 9px -17px rgba(0,0,0,0.57);
}
