<section class="my-4">
  <form action="/index/pesquisa/usuarios" method="POST">
    <div class="form-group my-2 mx-auto text-center w-100 max-width-340p px-4">
      <input class="form-control rounded-pill border-dark text-center" type="text" name="nomesParaBuscar" id="nome-para-buscar"
          placeholder="buscar usuario" aria-label="Busca de usuários">
      <button class="btn btn-padrao rounded-pill my-2 mx-auto" type="submit">Buscar</button>
    </div>
  </form>
</section>
