<article class="card-body">
  <a class="card-link text-dark" href="/index/roteiro/<%= roteiro.id %>">
    <h3 class="card-title text-uppercase">
      <strong><%= roteiro.titulo %></strong>
    </h3>
  </a>
  <p class="card-text"><%= roteiro.descricao %></p>
</article>
