<article class="card-body">
  <a class="card-link text-dark" href="single-roteiro.html">
    <h3 class="card-title text-uppercase">
      <strong>Título Roteiro</strong>
    </h3>
  </a>
  <p class="card-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
  </p>
</article>