<article class="card-header">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-center text-lg-left">
        <p class="my-1 my-lg-auto btn rounded-pills card-resumo-roteiro text-center text-lg-left">5 Dias</p>
      </div>
    </div>
  </div>
  <div class="row mt-2 align-items-center">
    <div class="col-sm-12 col-md-4">
      <div class="d-flex align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="70" src="https://picsum.photos/50/50" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">LeeCross</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <p class="my-1 my-lg-auto text-center">Estilo da viagem: romântico</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p class="my-1 my-lg-auto text-center">Data de início: 01/01/2000</p>
    </div>
  </div>
</article>
